################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompleteApp/Core/NP.Visuals/obj
/CompleteApp/Core/NP.Visuals/bin/Debug/net6.0
